In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import string 
import re
import string
from datetime import datetime, date, time
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

Parsing HTML for data so
We get the raw HTML from Space Weather live Website 
and use an HTML parsing library called BeautifulSoup 
to extract the data of interest.

 ------------------------------------------ Part 1 content ------------------------------------------

In [2]:

url = 'https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares'
content = requests.get(url).content
root = BeautifulSoup(content, 'html.parser')

In [3]:
'''
Finding the Data with tag "table" that its class like shown below
then we find all childern of it with tag 'td'
'''
Table = root.find('table', class_ = 'table table-striped table-responsive-md').findAll('td')
#Get text from the Data we get to get rid of <html> tags and other unnecessary
MyData = [pt.get_text() for pt in Table]
for i in MyData:
    if i == ' MovieView archive' or i == 'View archive':
        MyData.remove(i)
#-----------------------------------------------------------------

RankList = []
X_ClassList = []
DateList = []
RegionList = []
StartTimeList = []
MaxTimeList = []
EndTimeList = []

#We append the data in lists to put it in the DataFrame 
for i in range(0, len(MyData), 7):
    if i + 6 < len(MyData):
        RankList.append(MyData[i])
        X_ClassList.append(MyData[i + 1])
        DateList.append(MyData[i + 2])
        RegionList.append(MyData[i + 3])
        StartTimeList.append(MyData[i + 4])
        MaxTimeList.append(MyData[i + 5])
        EndTimeList.append(MyData[i + 6])
#-----------------------------------------------------------------
#We Parse the Date and time from str to Datetime objects 
NStart_TimeDF = []
for i in StartTimeList:
    start_hrs, start_min = i.split(':')
    t = time(int(start_hrs), int(start_min))
    NStart_TimeDF.append(t)
    
NMax_TimeDF = []
for i in MaxTimeList:
    start_hrs, start_min = i.split(':')
    t = time(int(start_hrs), int(start_min))
    NMax_TimeDF.append(t)

NEnd_TimeDF = []
for i in EndTimeList:
    start_hrs, start_min = i.split(':')
    t = time(int(start_hrs), int(start_min))
    NEnd_TimeDF.append(t)
    
NEnd_DateDF = []
for i in DateList:
    years, months, days = i.split('/')
    d = date(int(years), int(months), int(days))
    NEnd_DateDF.append(d)

In [4]:
#Put the lists in the dataframe
data = {'Rank':RankList,
        'X_class':X_ClassList,
        'Date':NEnd_DateDF,
        'Region':RegionList,
        'Start_Time':NStart_TimeDF,
        'Max_Time':NMax_TimeDF,
        'End_Time':NEnd_TimeDF}

df = pd.DataFrame(data)

#Zipping the column of Date with Start time, Max time and End time
df['Start_Time'] = list(zip(df.iloc[:,2], df.iloc[:,4]))
df['Max_Time'] = list(zip(df.iloc[:,2], df.iloc[:,5]))
df['End_Time'] = list(zip(df.iloc[:,2], df.iloc[:,6]))

#Drop the Date column because its unnecessary now
df = df.drop('Date', axis = 1)

df.head(50)

,Rank,X_class,Region,Start_Time,Max_Time,End_Time
0,1,X28+,0486,"(2003-11-04, 19:29:00)","(2003-11-04, 19:53:00)","(2003-11-04, 20:06:00)"
1,2,X20+,9393,"(2001-04-02, 21:32:00)","(2001-04-02, 21:51:00)","(2001-04-02, 22:03:00)"
2,3,X17.2+,0486,"(2003-10-28, 09:51:00)","(2003-10-28, 11:10:00)","(2003-10-28, 11:24:00)"
3,4,X17+,0808,"(2005-09-07, 17:17:00)","(2005-09-07, 17:40:00)","(2005-09-07, 18:03:00)"
4,5,X14.4,9415,"(2001-04-15, 13:19:00)","(2001-04-15, 13:50:00)","(2001-04-15, 13:55:00)"
5,6,X10,0486,"(2003-10-29, 20:37:00)","(2003-10-29, 20:49:00)","(2003-10-29, 21:01:00)"
6,7,X9.4,8100,"(1997-11-06, 11:49:00)","(1997-11-06, 11:55:00)","(1997-11-06, 12:01:00)"
7,8,X9.3,2673,"(2017-09-06, 11:53:00)","(2017-09-06, 12:02:00)","(2017-09-06, 12:10:00)"
8,9,X9,0930,"(2006-12-05, 10:18:00)","(2006-12-05, 10:35:00)","(2006-12-05, 10:45:00)"
9,10,X8.3,0486,"(2003-11-02, 17:03:00)","(2003-11-02, 17:25:00)","(2003-11-02, 17:39:00)"
10,11,X8.2,2673,"(2017-09-10, 15:35:00)","(2017-09-10, 16:06:00)","(2017-09-10, 16:31:00)"
11,12,X7.1,0720,"(2005-01-20, 06:36:00)","(2005-01-20, 07:01:00)","(2005-01-20, 07:26:00)"
12,13,X6.9,1263,"(2011-08-09, 07:48:00)","(2011-08-09, 08:05:00)","(2011-08-09, 08:08:00)"
13,14,X6.5,0930,"(2006-12-06, 18:29:00)","(2006-12-06, 18:47:00)","(2006-12-06, 19:00:00)"
14,15,X6.2,0808,"(2005-09-09, 19:13:00)","(2005-09-09, 20:04:00)","(2005-09-09, 20:36:00)"
15,16,X6.2,9733,"(2001-12-13, 14:20:00)","(2001-12-13, 14:30:00)","(2001-12-13, 14:35:00)"
16,17,X5.7,9077,"(2000-07-14, 10:03:00)","(2000-07-14, 10:24:00)","(2000-07-14, 10:43:00)"
17,18,X5.6,9415,"(2001-04-06, 19:10:00)","(2001-04-06, 19:21:00)","(2001-04-06, 19:31:00)"
18,19,X5.4,1429,"(2012-03-07, 00:02:00)","(2012-03-07, 00:24:00)","(2012-03-07, 00:40:00)"
19,20,X5.4,0808,"(2005-09-08, 20:52:00)","(2005-09-08, 21:06:00)","(2005-09-08, 21:17:00)"
20,21,X5.4,0486,"(2003-10-23, 08:19:00)","(2003-10-23, 08:35:00)","(2003-10-23, 08:49:00)"
21,22,X5.3,9591,"(2001-08-25, 16:23:00)","(2001-08-25, 16:45:00)","(2001-08-25, 17:04:00)"
22,23,X4.9,1990,"(2014-02-25, 00:39:00)","(2014-02-25, 00:49:00)","(2014-02-25, 01:03:00)"
23,24,X4.9,8307,"(1998-08-18, 22:10:00)","(1998-08-18, 22:19:00)","(1998-08-18, 22:28:00)"
24,25,X4.8,0039,"(2002-07-23, 00:18:00)","(2002-07-23, 00:35:00)","(2002-07-23, 00:47:00)"
25,26,X4,9236,"(2000-11-26, 16:34:00)","(2000-11-26, 16:48:00)","(2000-11-26, 16:56:00)"
26,27,X3.9,0488,"(2003-11-03, 09:43:00)","(2003-11-03, 09:55:00)","(2003-11-03, 10:19:00)"
27,28,X3.9,8307,"(1998-08-19, 21:35:00)","(1998-08-19, 21:45:00)","(1998-08-19, 21:50:00)"
28,29,X3.8,0720,"(2005-01-17, 06:59:00)","(2005-01-17, 09:52:00)","(2005-01-17, 10:07:00)"
29,30,X3.7,8384,"(1998-11-22, 06:30:00)","(1998-11-22, 06:42:00)","(1998-11-22, 06:49:00)"
30,31,X3.6,0808,"(2005-09-09, 09:42:00)","(2005-09-09, 09:59:00)","(2005-09-09, 10:08:00)"
31,32,X3.6,0649,"(2004-07-16, 13:49:00)","(2004-07-16, 13:55:00)","(2004-07-16, 14:01:00)"
32,33,X3.6,0365,"(2003-05-28, 00:17:00)","(2003-05-28, 00:27:00)","(2003-05-28, 00:39:00)"
33,34,X3.4,0930,"(2006-12-13, 02:14:00)","(2006-12-13, 02:40:00)","(2006-12-13, 02:57:00)"
34,35,X3.4,9767,"(2001-12-28, 20:02:00)","(2001-12-28, 20:45:00)","(2001-12-28, 21:32:00)"
35,36,X3.3,1890,"(2013-11-05, 22:07:00)","(2013-11-05, 22:12:00)","(2013-11-05, 22:15:00)"
36,37,X3.3,0039,"(2002-07-20, 21:04:00)","(2002-07-20, 21:30:00)","(2002-07-20, 21:54:00)"
37,38,X3.3,8395,"(1998-11-28, 04:54:00)","(1998-11-28, 05:52:00)","(1998-11-28, 06:13:00)"
38,39,X3.2,1748,"(2013-05-14, 00:00:00)","(2013-05-14, 01:11:00)","(2013-05-14, 01:20:00)"
39,40,X3.1,2192,"(2014-10-24, 21:07:00)","(2014-10-24, 21:41:00)","(2014-10-24, 22:13:00)"
40,41,X3.1,0069,"(2002-08-24, 00:49:00)","(2002-08-24, 01:12:00)","(2002-08-24, 01:31:00)"
41,42,X3,0030,"(2002-07-15, 19:59:00)","(2002-07-15, 20:08:00)","(2002-07-15, 20:14:00)"
42,43,X2.8,1748,"(2013-05-13, 15:48:00)","(2013-05-13, 16:05:00)","(2013-05-13, 16:16:00)"
43,44,X2.8,9733,"(2001-12-11, 07:58:00)","(2001-12-11, 08:08:00)","(2001-12-11, 08:14:00)"
44,45,X2.8,8307,"(1998-08-18, 08:14:00)","(1998-08-18, 08:24:00)","(1998-08-18, 08:32:00)"
45,46,X2.7,2339,"(2015-05-05, 22:05:00)","(2015-05-05, 22:11:00)","(2015-05-05, 22:15:00)"
46,47,X2.7,0488,"(2003-11-03, 01:09:00)","(2003-11-03, 01:30:00)","(2003-11-03, 01:45:00)"
47,48,X2.7,8210,"(1998-05-06, 07:58:00)","(1998-05-06, 08:09:00)","(1998-05-06, 08:20:00)"
48,49,X2.6,0720,"(2005-01-15, 22:25:00)","(2005-01-15, 23:02:00)","(2005-01-15, 23:31:00)"
49,50,X2.6,9632,"(2001-09-24, 09:32:00)","(2001-09-24, 10:38:00)","(2001-09-24, 11:09:00)"

 ------------------------------------------ Part 2 Content -----------------------------------------------------

In [6]:
#Parsing HTML for data
'''
We get the raw HTML from Space Weather live Website 
and use an HTML parsing library called BeautifulSoup 
to extract the data of interest.
'''
url2 = 'https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html'
content2 = requests.get(url2)
root2 = BeautifulSoup(content2.text)

#read the tag 'pre' because the tag 'a' has previous siblings
#so its more easier to read the parent tag 'pre'
Table = root2.find('pre')
Table = Table.text
FinalTable = Table.splitlines()
FinalTable = FinalTable[12:]

In [7]:
Start_Date = []
Start_Time = []
End_Date = []
End_Time = []
Start_Freq = []
End_Freq = []
Flare_Location = []
Flare_region = []
Importance = []
CME_Date = []
CME_Time = []
CPA = []
Width = []
Speed = []
Plots = []
is_Halo = []
Width_Column = []

#appending the data in lists to put it in the DataFrame using slices 
#use .strip() function to get rid of unwanted spaces
for i in range(0, len(FinalTable)-1):
    Start_Date.append(FinalTable[i][0:11].strip())
    Start_Time.append(FinalTable[i][11:16].strip())
    End_Date.append(FinalTable[i][16:22].strip())
    End_Time.append(FinalTable[i][22:28].strip())
    Start_Freq.append(FinalTable[i][28:35].strip())
    End_Freq.append(FinalTable[i][35:40].strip())
    Flare_Location.append(FinalTable[i][40:50].strip())
    Flare_region.append(FinalTable[i][50:55].strip())
    Importance.append(FinalTable[i][55:60].strip())
    CME_Date.append(FinalTable[i][60:69].strip())
    CME_Time.append(FinalTable[i][69:75].strip())
    CPA.append(FinalTable[i][75:80].strip())
    Width.append(FinalTable[i][80:85].strip())
    Speed.append(FinalTable[i][85:90].strip())
    Plots.append('PHTX')

#We Parse the Date and time from str to Datetime objects 
CMEE_Date = []
for i in CME_Date:
    if i == '--/--':
        CMEE_Date.append('NaN')
    else:
        CMEE_Date.append(i)
CMEE_Time = []
for i in CME_Time:
    if i == '--:--':
        CMEE_Time.append('NaN')
    else:
        CMEE_Time.append(i)
NCPA = []
for i in CPA:
    if i == 'Halo':
        NCPA.append('NaN')
        is_Halo.append('True')
    elif i == '----':
        NCPA.append('NaN')
        is_Halo.append('False')
    else:
        NCPA.append(i)
        is_Halo.append('False')
NWidth_Column = []
for i in Width:
    if i.startswith('>'):
        NWidth_Column.append(i[1:])
        Width_Column.append('True')
    else:
        NWidth_Column.append(i)
        Width_Column.append('False')
NStart_Date= []

MyDate = []
for i in Start_Date:
    year, months, days = i.split('/')
    MyDate.append(int(year))
    d = date(int(year), int(months), int(days))
    NStart_Date.append(d)
    
NStart_Time = []
for i in Start_Time:
    start_hrs, start_min = i.split(':')
    t = time(int(start_hrs), int(start_min))
    NStart_Time.append(t)
    
NEnd_Date = []
for i in range(0, len(End_Date)):
    months, days = End_Date[i].split('/')
    d = date(MyDate[i], int(months), int(days))
    NEnd_Date.append(d)
    
NEnd_Time = []
for i in End_Time:
    start_hrs, start_min = i.split(':')
    if int(start_hrs) == 24:
        start_hrs = int('00')
    t = time(int(start_hrs), int(start_min))
    NEnd_Time.append(t)
    
NCME_Time= []
for i in CMEE_Time:
    if i == 'NaN':
        NCME_Time.append('NaN')
    else:
        start_hrs, start_min = i.split(':')
        t = time(int(start_hrs), int(start_min))
        NCME_Time.append(t)
NCME_Date = []
for i in range(0, len(CMEE_Date)):
    if CMEE_Date[i] == 'NaN':
        NCME_Date.append('NaN')
    else:    
        months, days = CMEE_Date[i].split('/')
        d = date(MyDate[i], int(months), int(days))
        NCME_Date.append(d)

In [8]:
#Put the lists in the dataframe
data2= {'Start_Date':NStart_Date,
        'Start_Time':NStart_Time,
        'End_Date':NEnd_Date,
        'End_Time':NEnd_Time,
        'Start_Freq':Start_Freq,
        'End_Freq':End_Freq,
        'Flare_Location':Flare_Location,
        'Flare_region':Flare_region,
        'Importance':Importance,
        'CME_Date':NCME_Date,
        'CME_Time':NCME_Time,
        'CPA':NCPA,
        'Width':NWidth_Column,
        'Speed':Speed,
        'Plots':Plots,
        'is_Halo':is_Halo,
        'WidthColumn':Width_Column}

df2 = pd.DataFrame(data2)

#Zipping the column of Date with Start time, Max time and End time
df2['Start_DateTime'] = list(zip(df2.iloc[:,0], df2.iloc[:,1]))
df2['CME_DateTime'] = list(zip(df2.iloc[:,9], df2.iloc[:,10]))
df2['End_DateTime'] = list(zip(df2.iloc[:,2], df2.iloc[:,3]))

#Drop the unnecessary columns
df2 = df2.drop('Start_Date', axis = 1)
df2 = df2.drop('End_Date', axis = 1)
df2 = df2.drop('Start_Time', axis = 1)
df2 = df2.drop('End_Time', axis = 1)
df2 = df2.drop('CME_Time', axis = 1)
df2 = df2.drop('CME_Date', axis = 1)

#Get rid of cells has unknow or undefined data
df2[df2=='????'] = 'NaN'
df2[df2=='BACK'] = 'NaN'
df2[df2=='-----'] = 'NaN'
df2[df2=='----'] = 'NaN'
df2[df2=='------'] = 'NaN'
df2[df2=='---'] = 'NaN'
df2[df2=='DSF'] = 'NaN'
df2[df2=='FILA'] = 'NaN'

df2.head(518)

,Start_Freq,End_Freq,Flare_Location,Flare_region,Importance,CPA,Width,Speed,Plots,is_Halo,WidthColumn,Start_DateTime,CME_DateTime,End_DateTime
0,8000,4000,S25E16,8026,M1.3,74,79,312,PHTX,False,False,"(1997-04-01, 14:00:00)","(1997-04-01, 15:18:00)","(1997-04-01, 14:15:00)"
1,11000,1000,S28E19,8027,C6.8,NaN,360,878,PHTX,True,False,"(1997-04-07, 14:30:00)","(1997-04-07, 14:27:00)","(1997-04-07, 17:30:00)"
2,12000,80,N21W08,8038,C1.3,NaN,360,464,PHTX,True,False,"(1997-05-12, 05:15:00)","(1997-05-12, 05:30:00)","(1997-05-14, 16:00:00)"
3,5000,500,N05W12,8040,M1.3,263,165,296,PHTX,False,False,"(1997-05-21, 20:20:00)","(1997-05-21, 21:00:00)","(1997-05-21, 22:00:00)"
4,6000,2000,S29E25,8088,C1.4,133,155,712,PHTX,False,False,"(1997-09-23, 21:53:00)","(1997-09-23, 22:02:00)","(1997-09-23, 22:16:00)"
5,14000,250,S20W13,8100,C8.6,240,109,227,PHTX,False,False,"(1997-11-03, 05:15:00)","(1997-11-03, 05:28:00)","(1997-11-03, 12:00:00)"
6,14000,5000,S16W21,8100,M4.2,233,122,352,PHTX,False,False,"(1997-11-03, 10:30:00)","(1997-11-03, 11:11:00)","(1997-11-03, 11:30:00)"
7,14000,100,S14W33,8100,X2.1,NaN,360,785,PHTX,True,False,"(1997-11-04, 06:00:00)","(1997-11-04, 06:10:00)","(1997-11-05, 04:30:00)"
8,14000,100,S18W63,8100,X9.4,NaN,360,1556,PHTX,True,False,"(1997-11-06, 12:20:00)","(1997-11-06, 12:10:00)","(1997-11-07, 08:30:00)"
9,14000,7000,N17E63,8113,X2.6,98,91,441,PHTX,False,False,"(1997-11-27, 13:30:00)","(1997-11-27, 13:56:00)","(1997-11-27, 14:00:00)"
10,14000,8000,N25W52,8116,B9.4,278,73,191,PHTX,False,False,"(1997-12-12, 22:45:00)","(1997-12-13, 00:26:00)","(1997-12-12, 23:20:00)"
11,14000,10000,N21E25,8141,C1.1,NaN,360,693,PHTX,True,False,"(1998-01-25, 15:03:00)","(1998-01-25, 15:26:00)","(1998-01-25, 15:18:00)"
12,14000,7000,SW90,NaN,NaN,NaN,360,1397,PHTX,True,False,"(1998-03-29, 03:40:00)","(1998-03-29, 03:48:00)","(1998-03-29, 03:52:00)"
13,10000,35,S22W90,8194,M1.4,284,165,1863,PHTX,False,False,"(1998-04-20, 10:25:00)","(1998-04-20, 10:07:00)","(1998-04-22, 06:00:00)"
14,14000,200,S17E90,8210,X1.2,NaN,360,1691,PHTX,True,False,"(1998-04-23, 06:00:00)","(1998-04-23, 05:55:00)","(1998-04-23, 15:30:00)"
15,4700,2600,S20E90,8210,C8.9,100,84,1184,PHTX,False,False,"(1998-04-24, 09:17:00)","(1998-04-24, 08:55:00)","(1998-04-24, 09:25:00)"
16,10000,1000,S16E50,8210,X1.0,NaN,360,1385,PHTX,True,False,"(1998-04-27, 09:20:00)","(1998-04-27, 08:56:00)","(1998-04-27, 10:00:00)"
17,10000,2000,S18E20,8210,M6.8,NaN,360,1374,PHTX,True,False,"(1998-04-29, 16:30:00)","(1998-04-29, 16:58:00)","(1998-04-29, 17:00:00)"
18,5000,3000,S15W15,8210,X1.1,NaN,360,938,PHTX,True,False,"(1998-05-02, 14:25:00)","(1998-05-02, 14:06:00)","(1998-05-02, 14:50:00)"
19,14000,5000,S11W65,8210,X2.7,309,190,1099,PHTX,False,False,"(1998-05-06, 08:25:00)","(1998-05-06, 08:29:00)","(1998-05-06, 08:35:00)"
20,9000,400,S14W89,8210,M7.7,262,178,2331,PHTX,False,False,"(1998-05-09, 03:35:00)","(1998-05-09, 03:35:00)","(1998-05-09, 10:00:00)"
21,10000,1000,N32W90,8214,B6.6,208,301,830,PHTX,False,True,"(1998-05-11, 21:40:00)","(1998-05-11, 21:55:00)","(1998-05-11, 22:00:00)"
22,14000,3000,N23W43,8222,B5.7,268,139,801,PHTX,False,False,"(1998-05-19, 10:00:00)","(1998-05-19, 10:27:00)","(1998-05-19, 11:30:00)"
23,4000,1000,N19W62,8226,C7.5,175,268,878,PHTX,False,False,"(1998-05-27, 13:30:00)","(1998-05-27, 13:45:00)","(1998-05-27, 14:20:00)"
24,8000,4000,N16E86,8243,M1.4,123,177,1223,PHTX,False,False,"(1998-06-11, 10:15:00)","(1998-06-11, 10:28:00)","(1998-06-11, 10:20:00)"
25,12000,50,S22W90,8232,M1.0,341,281,1484,PHTX,False,False,"(1998-06-16, 18:20:00)","(1998-06-16, 18:27:00)","(1998-06-17, 21:00:00)"
26,2600,1800,NaN,NaN,NaN,NaN,360,964,PHTX,True,False,"(1998-06-20, 19:39:00)","(1998-06-20, 18:20:00)","(1998-06-20, 20:00:00)"
27,6000,2000,N16W46,8243,C2.9,265,59,206,PHTX,False,False,"(1998-06-22, 07:15:00)","(1998-06-22, 05:01:00)","(1998-06-22, 09:20:00)"
28,14000,4000,S25E44,8373,C4.4,116,169,661,PHTX,False,False,"(1998-11-02, 14:00:00)","(1998-11-02, 14:18:00)","(1998-11-02, 14:40:00)"
29,5000,50,N22W18,8375,M8.4,NaN,360,1118,PHTX,True,False,"(1998-11-05, 22:00:00)","(1998-11-05, 20:44:00)","(1998-11-07, 08:00:00)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,14000,6400,W90b,NaN,NaN,286,250,772,PHTX,False,False,"(2015-05-12, 03:00:00)","(2015-05-12, 02:48:00)","(2015-05-12, 03:04:00)"
489,2300,200,S03E25,12364,C2.8,77,262,1036,PHTX,False,False,"(2015-06-09, 20:23:00)","(2015-06-09, 20:12:00)","(2015-06-09, 22:35:00)"
490,3000,1250,S12W34,12365,C5.9,199,195,1228,PHTX,False,False,"(2015-06-14, 05:26:00)","(2015-06-14, 04:12:00)","(2015-06-14, 05:41:00)"
491,3700,500,N15E50,12371,M3.0,NaN,360,1305,PHTX,True,False,"(2015-06-18, 17:42:00)","(2015-06-18, 17:24:00)","(2015-06-18, 19:40:00)"
492,5500,150,N12E16,12371,M2.0,NaN,360,1366,PHTX,True,False,"(2015-06-21, 02:33:00)","(2015-06-21, 02:36:00)","(2015-06-21, 21:20:00)"
493,14000,300,N12W08,12371,M6.5,NaN,360,1209,PHTX,True,False,"(2015-06-22, 18:20:00)","(2015-06-22, 18:36:00)","(2015-06-22, 21:55:00)"
494,14000,150,N09W42,12371,M7.9,NaN,360,1627,PHTX,True,False,"(2015-06-25, 08:35:00)","(2015-06-25, 08:36:00)","(2015-06-25, 16:30:00)"
495,1000,150,W90b,NaN,NaN,NaN,360,1435,PHTX,True,False,"(2015-07-01, 16:08:00)","(2015-07-01, 14:36:00)","(2015-07-01, 20:47:00)"
496,14000,7300,S15E13,12403,M1.2,NaN,360,547,PHTX,True,False,"(2015-08-22, 07:07:00)","(2015-08-22, 07:12:00)","(2015-08-22, 07:18:00)"
497,14000,400,S21W10,12415,C2.6,201,131,823,PHTX,False,False,"(2015-09-18, 04:54:00)","(2015-09-18, 05:00:00)","(2015-09-18, 09:52:00)"
498,14000,300,S20W24,12415,M2.1,NaN,360,1239,PHTX,True,False,"(2015-09-20, 18:23:00)","(2015-09-20, 18:12:00)","(2015-09-21, 01:46:00)"
499,14000,440,N09W04,12443,M3.7,NaN,360,578,PHTX,True,False,"(2015-11-04, 14:07:00)","(2015-11-04, 14:48:00)","(2015-11-04, 15:14:00)"
500,14000,9000,S11E41,12449,M3.9,142,273,1041,PHTX,False,False,"(2015-11-09, 13:21:00)","(2015-11-09, 13:25:00)","(2015-11-09, 13:27:00)"
501,5300,3800,S13W04,12468,C6.6,NaN,360,579,PHTX,True,False,"(2015-12-16, 08:45:00)","(2015-12-16, 09:36:00)","(2015-12-16, 08:57:00)"
502,12000,6700,S22E63,12473,M4.7,98,89,520,PHTX,False,False,"(2015-12-23, 01:18:00)","(2015-12-23, 01:25:00)","(2015-12-23, 01:23:00)"
503,14000,180,S23W11,12473,M1.8,NaN,360,1212,PHTX,True,False,"(2015-12-28, 11:50:00)","(2015-12-28, 12:12:00)","(2015-12-28, 21:45:00)"
504,1100,300,S25W82,12473,M2.3,NaN,360,1730,PHTX,True,False,"(2016-01-02, 00:55:00)","(2016-01-01, 23:24:00)","(2016-01-02, 03:08:00)"
505,1650,500,NaN,NaN,NaN,NaN,NaN,NaN,PHTX,False,False,"(2016-02-05, 20:28:00)","(NaN, NaN)","(2016-02-05, 23:31:00)"
506,5200,1900,S17W29,NaN,NaN,193,155,445,PHTX,False,False,"(2016-02-05, 22:35:00)","(2016-02-05, 21:24:00)","(2016-02-05, 22:55:00)"
507,14000,10500,N06W61,12535,C1.3,255,134,390,PHTX,False,False,"(2016-05-04, 14:20:00)","(2016-05-04, 14:12:00)","(2016-05-04, 14:34:00)"
508,1500,700,NaN,NaN,NaN,NaN,NaN,NaN,PHTX,False,False,"(2016-05-24, 17:00:00)","(NaN, NaN)","(2016-05-24, 20:50:00)"
509,11000,3400,E90b,NaN,NaN,75,98,633,PHTX,False,False,"(2016-08-15, 18:21:00)","(2016-08-15, 17:24:00)","(2016-08-15, 18:28:00)"
510,15000,8300,N16E41,NaN,NaN,85,77,955,PHTX,False,False,"(2017-04-23, 06:00:00)","(2017-04-23, 06:00:00)","(2017-04-23, 06:13:00)"
511,14000,70,S06W29,12665,M2.4,NaN,360,1200,PHTX,True,False,"(2017-07-14, 01:18:00)","(2017-07-14, 01:25:00)","(2017-07-14, 21:30:00)"
512,4400,900,NaN,NaN,NaN,NaN,360,1848,PHTX,True,False,"(2017-07-23, 05:27:00)","(2017-07-23, 04:48:00)","(2017-07-23, 06:12:00)"
513,14000,210,S10W12,12673,M5.5,NaN,360,1418,PHTX,True,False,"(2017-09-04, 20:27:00)","(2017-09-04, 20:12:00)","(2017-09-05, 04:54:00)"
514,16000,70,S08W33,12673,X9.3,NaN,360,1571,PHTX,True,False,"(2017-09-06, 12:05:00)","(2017-09-06, 12:24:00)","(2017-09-07, 08:00:00)"
515,16000,150,S09W92,NaN,X8.3,NaN,360,3163,PHTX,True,False,"(2017-09-10, 16:02:00)","(2017-09-10, 16:00:00)","(2017-09-11, 06:50:00)"
516,16000,13000,N08E48,12680,C3.0,124,96,252,PHTX,False,False,"(2017-09-12, 07:38:00)","(2017-09-12, 08:03:00)","(2017-09-12, 07:43:00)"
517,16000,900,S08E170,NaN,NaN,NaN,360,1385,PHTX,True,False,"(2017-09-17, 11:45:00)","(2017-09-17, 12:00:00)","(2017-09-17, 12:35:00)"

Here we use map Clas_ to get the value of these alphabet from Wikipedia 
https://en.wikipedia.org/wiki/Solar_flare?fbclid=IwAR0VrK-Wc_dJtGAF42CjskjSg6_XbQdBF9_u1bWU3_YvhpAk5IKQwwmAfc0#Classification
then we sort the rows of the data frame based on temporary column
in this temporary column we calculate the value of each cell in importance column 
to sort the data frame based on this column
then we get the top 50

In [9]:
Clas_= {'X': 0.0001,
       'M': 0.00001, 
       'C': 0.000001, 
       'B': 0.0000001, 
       'A': 0.00000001}

MyList = []
for i in df2['Importance']:
    if i == 'NaN':
        MyList.append(0)
    else:
        MyList.append(Clas_[i[0]] * float(i[1:3]))

df2['New'] = MyList
df2 = df2.sort_values(by=['New'], ascending=False)
df2 = df2.drop('New', axis = 1)
New_df2 = df2[0:50]

New_df2.head(50)

,Start_Freq,End_Freq,Flare_Location,Flare_region,Importance,CPA,Width,Speed,Plots,is_Halo,WidthColumn,Start_DateTime,CME_DateTime,End_DateTime
240,10000,200,S19W83,10486,X28.,NaN,360,2657,PHTX,True,False,"(2003-11-04, 20:00:00)","(2003-11-04, 19:54:00)","(2003-11-04, 00:00:00)"
117,14000,250,N19W72,9393,X20.,261,244,2505,PHTX,False,False,"(2001-04-02, 22:05:00)","(2001-04-02, 22:06:00)","(2001-04-03, 02:30:00)"
233,14000,40,S16E08,10486,X17.,NaN,360,2459,PHTX,True,False,"(2003-10-28, 11:10:00)","(2003-10-28, 11:30:00)","(2003-10-29, 00:00:00)"
126,14000,40,S20W85,9415,X14.,245,167,1199,PHTX,False,False,"(2001-04-15, 14:05:00)","(2001-04-15, 14:06:00)","(2001-04-16, 13:00:00)"
234,11000,500,S15W02,10486,X10.,NaN,360,2029,PHTX,True,False,"(2003-10-29, 20:55:00)","(2003-10-29, 20:54:00)","(2003-10-29, 00:00:00)"
328,14000,250,S07E68,10930,X9.0,NaN,NaN,NaN,PHTX,False,False,"(2006-12-05, 10:50:00)","(NaN, NaN)","(2006-12-05, 20:00:00)"
8,14000,100,S18W63,8100,X9.4,NaN,360,1556,PHTX,True,False,"(1997-11-06, 12:20:00)","(1997-11-06, 12:10:00)","(1997-11-07, 08:30:00)"
514,16000,70,S08W33,12673,X9.3,NaN,360,1571,PHTX,True,False,"(2017-09-06, 12:05:00)","(2017-09-06, 12:24:00)","(2017-09-07, 08:00:00)"
515,16000,150,S09W92,NaN,X8.3,NaN,360,3163,PHTX,True,False,"(2017-09-10, 16:02:00)","(2017-09-10, 16:00:00)","(2017-09-11, 06:50:00)"
237,12000,250,S14W56,10486,X8.3,NaN,360,2598,PHTX,True,False,"(2003-11-02, 17:30:00)","(2003-11-02, 17:30:00)","(2003-11-03, 01:00:00)"
288,14000,25,N14W61,10720,X7.1,NaN,360,882,PHTX,True,False,"(2005-01-20, 07:15:00)","(2005-01-20, 06:54:00)","(2005-01-20, 16:30:00)"
359,16000,4000,N17W69,11263,X6.9,NaN,360,1610,PHTX,True,False,"(2011-08-09, 08:20:00)","(2011-08-09, 08:12:00)","(2011-08-09, 08:35:00)"
317,10000,50,S12E67,10808,X6.2,NaN,360,2257,PHTX,True,False,"(2005-09-09, 19:45:00)","(2005-09-09, 19:48:00)","(2005-09-09, 22:00:00)"
331,16000,30,S05E64,10930,X6.5,NaN,NaN,NaN,PHTX,False,False,"(2006-12-06, 19:00:00)","(NaN, NaN)","(2006-12-08, 00:00:00)"
375,16000,30,N17E27,11429,X5.4,NaN,360,2684,PHTX,True,False,"(2012-03-07, 01:00:00)","(2012-03-07, 00:24:00)","(2012-03-08, 19:00:00)"
121,14000,230,S21E31,9415,X5.6,NaN,360,1270,PHTX,True,False,"(2001-04-06, 19:35:00)","(2001-04-06, 19:30:00)","(2001-04-07, 01:50:00)"
82,14000,80,N22W07,9077,X5.7,NaN,360,1674,PHTX,True,False,"(2000-07-14, 10:30:00)","(2000-07-14, 10:54:00)","(2000-07-15, 14:30:00)"
135,8000,170,S17E34,9591,X5.3,NaN,360,1433,PHTX,True,False,"(2001-08-25, 16:50:00)","(2001-08-25, 16:50:00)","(2001-08-25, 23:00:00)"
104,14000,7000,N18W38,9236,X4.0,NaN,360,980,PHTX,True,False,"(2000-11-26, 17:00:00)","(2000-11-26, 17:06:00)","(2000-11-26, 17:15:00)"
193,11000,400,S13E72,10039,X4.8,NaN,360,2285,PHTX,True,False,"(2002-07-23, 00:50:00)","(2002-07-23, 00:42:00)","(2002-07-23, 04:00:00)"
443,14000,100,S12E82,11990,X4.9,NaN,360,2147,PHTX,True,False,"(2014-02-25, 00:56:00)","(2014-02-25, 01:25:00)","(2014-02-25, 11:28:00)"
404,16000,240,N08E77,11748,X3.2,NaN,360,2625,PHTX,True,False,"(2013-05-14, 01:16:00)","(2013-05-14, 01:25:00)","(2013-05-14, 08:20:00)"
332,12000,150,S06W23,10930,X3.4,NaN,360,1774,PHTX,True,False,"(2006-12-13, 02:45:00)","(2006-12-13, 02:54:00)","(2006-12-13, 10:40:00)"
192,10000,2000,S13E90,10039,X3.3,NaN,360,1941,PHTX,True,False,"(2002-07-20, 21:30:00)","(2002-07-20, 22:06:00)","(2002-07-20, 22:20:00)"
201,5000,400,S02W81,10069,X3.1,NaN,360,1913,PHTX,True,False,"(2002-08-24, 01:45:00)","(2002-08-24, 01:27:00)","(2002-08-24, 03:25:00)"
222,1000,200,S07W20,10365,X3.6,NaN,360,1366,PHTX,True,False,"(2003-05-28, 01:00:00)","(2003-05-28, 00:50:00)","(2003-05-29, 00:30:00)"
239,6000,400,N08W77,10488,X3.9,293,103,1420,PHTX,False,False,"(2003-11-03, 10:00:00)","(2003-11-03, 10:06:00)","(2003-11-03, 12:30:00)"
160,14000,350,S26E90,9756,X3.4,NaN,360,2216,PHTX,True,False,"(2001-12-28, 20:35:00)","(2001-12-28, 20:30:00)","(2001-12-29, 03:00:00)"
286,6100,1500,N15W25,10720,X3.8,NaN,360,2547,PHTX,True,False,"(2005-01-17, 10:00:00)","(2005-01-17, 09:54:00)","(2005-01-17, 10:35:00)"
285,14000,30,N15W25,10720,X2.0,NaN,360,2094,PHTX,True,False,"(2005-01-17, 09:25:00)","(2005-01-17, 09:30:00)","(2005-01-17, 16:00:00)"
420,16000,200,S06E69,11882,X2.1,NaN,360,1081,PHTX,True,False,"(2013-10-25, 15:08:00)","(2013-10-25, 15:12:00)","(2013-10-25, 22:32:00)"
345,16000,400,S20W12,11158,X2.2,NaN,360,669,PHTX,True,False,"(2011-02-15, 02:10:00)","(2011-02-15, 02:24:00)","(2011-02-15, 07:00:00)"
73,14000,40,N20E18,9026,X2.3,NaN,360,1119,PHTX,True,False,"(2000-06-06, 15:20:00)","(2000-06-06, 15:54:00)","(2000-06-08, 09:00:00)"
238,3000,1500,N10W83,10488,X2.7,304,65,827,PHTX,False,False,"(2003-11-03, 01:15:00)","(2003-11-03, 01:59:00)","(2003-11-03, 01:25:00)"
123,14000,100,S23W09,9415,X2.3,NaN,360,2411,PHTX,True,False,"(2001-04-10, 05:24:00)","(2001-04-10, 05:30:00)","(2001-04-10, 00:00:00)"
487,14000,500,N15E79,12339,X2.7,NaN,360,715,PHTX,True,False,"(2015-05-05, 22:24:00)","(2015-05-05, 22:24:00)","(2015-05-05, 23:14:00)"
98,14000,100,N20W05,9236,X2.0,NaN,360,1289,PHTX,True,False,"(2000-11-24, 05:10:00)","(2000-11-24, 05:30:00)","(2000-11-24, 15:00:00)"
284,3000,40,N15W05,10720,X2.6,NaN,360,2861,PHTX,True,False,"(2005-01-15, 23:00:00)","(2005-01-15, 23:06:00)","(2005-01-17, 00:00:00)"
99,14000,200,N22W07,9236,X2.3,NaN,360,1245,PHTX,True,False,"(2000-11-24, 15:25:00)","(2000-11-24, 15:30:00)","(2000-11-24, 22:00:00)"
361,16000,150,N14W18,11283,X2.1,NaN,360,575,PHTX,True,False,"(2011-09-06, 22:30:00)","(2011-09-06, 23:05:00)","(2011-09-07, 15:40:00)"
318,14000,200,S13E47,10808,X2.1,NaN,360,1893,PHTX,True,False,"(2005-09-10, 21:45:00)","(2005-09-10, 21:52:00)","(2005-09-11, 01:00:00)"
274,14000,60,N09W17,10696,X2.0,NaN,360,1759,PHTX,True,False,"(2004-11-07, 16:25:00)","(2004-11-07, 16:54:00)","(2004-11-08, 20:00:00)"
403,16000,300,N11E85,11748,X2.8,NaN,360,1850,PHTX,True,False,"(2013-05-13, 16:15:00)","(2013-05-13, 16:07:00)","(2013-05-13, 19:10:00)"
276,14000,1000,N09W49,10696,X2.5,NaN,360,3387,PHTX,True,False,"(2004-11-10, 02:25:00)","(2004-11-10, 02:26:00)","(2004-11-10, 03:40:00)"
142,7000,30,S16E23,9632,X2.6,NaN,360,2402,PHTX,True,False,"(2001-09-24, 10:45:00)","(2001-09-24, 10:30:00)","(2001-09-25, 20:00:00)"
125,14000,7000,S19W43,9415,X2.0,NaN,360,1184,PHTX,True,False,"(2001-04-12, 10:20:00)","(2001-04-12, 10:31:00)","(2001-04-12, 10:40:00)"
19,14000,5000,S11W65,8210,X2.7,309,190,1099,PHTX,False,False,"(1998-05-06, 08:25:00)","(1998-05-06, 08:29:00)","(1998-05-06, 08:35:00)"
7,14000,100,S14W33,8100,X2.1,NaN,360,785,PHTX,True,False,"(1997-11-04, 06:00:00)","(1997-11-04, 06:10:00)","(1997-11-05, 04:30:00)"
9,14000,7000,N17E63,8113,X2.6,98,91,441,PHTX,False,False,"(1997-11-27, 13:30:00)","(1997-11-27, 13:56:00)","(1997-11-27, 14:00:00)"
46,16000,12000,S26W14,8674,X1.1,120,245,462,PHTX,False,False,"(1999-08-28, 18:25:00)","(1999-08-28, 18:26:00)","(1999-08-28, 18:33:00)"

Matching is based on Date because its unique, the rest of the matches elements is not unique.
Matching can be done using Flare region also but Date is the best unique

In [25]:
'''
Here we get best matches between the 2 data frames
'''
FindMatch = pd.DataFrame()
Primary_Rank = []


cnt = 0
for _, row in New_df2.iterrows():
    for _, row2 in df.iterrows():
        if row.Start_DateTime[0] == row2.Start_Time[0]:
            row10 = pd.DataFrame([row])
            #We append the rank of the matches from first Data Frame to add it as column in the New DF
            Primary_Rank.append(row2.Rank)
            FindMatch = pd.concat([FindMatch, row10], ignore_index=True)
            cnt = cnt + 1
            break

#Add the column to the Best matches Data Frame
FindMatch['New Rank'] = Primary_Rank
FindMatch.head(cnt)

,Start_Freq,End_Freq,Flare_Location,Flare_region,Importance,CPA,Width,Speed,Plots,is_Halo,WidthColumn,Start_DateTime,CME_DateTime,End_DateTime,New Rank
0,10000,200,S19W83,10486,X28.,NaN,360,2657,PHTX,True,False,"(2003-11-04, 20:00:00)","(2003-11-04, 19:54:00)","(2003-11-04, 00:00:00)",1
1,14000,250,N19W72,9393,X20.,261,244,2505,PHTX,False,False,"(2001-04-02, 22:05:00)","(2001-04-02, 22:06:00)","(2001-04-03, 02:30:00)",2
2,14000,40,S16E08,10486,X17.,NaN,360,2459,PHTX,True,False,"(2003-10-28, 11:10:00)","(2003-10-28, 11:30:00)","(2003-10-29, 00:00:00)",3
3,14000,40,S20W85,9415,X14.,245,167,1199,PHTX,False,False,"(2001-04-15, 14:05:00)","(2001-04-15, 14:06:00)","(2001-04-16, 13:00:00)",5
4,11000,500,S15W02,10486,X10.,NaN,360,2029,PHTX,True,False,"(2003-10-29, 20:55:00)","(2003-10-29, 20:54:00)","(2003-10-29, 00:00:00)",6
5,14000,250,S07E68,10930,X9.0,NaN,NaN,NaN,PHTX,False,False,"(2006-12-05, 10:50:00)","(NaN, NaN)","(2006-12-05, 20:00:00)",9
6,14000,100,S18W63,8100,X9.4,NaN,360,1556,PHTX,True,False,"(1997-11-06, 12:20:00)","(1997-11-06, 12:10:00)","(1997-11-07, 08:30:00)",7
7,16000,70,S08W33,12673,X9.3,NaN,360,1571,PHTX,True,False,"(2017-09-06, 12:05:00)","(2017-09-06, 12:24:00)","(2017-09-07, 08:00:00)",8
8,16000,150,S09W92,NaN,X8.3,NaN,360,3163,PHTX,True,False,"(2017-09-10, 16:02:00)","(2017-09-10, 16:00:00)","(2017-09-11, 06:50:00)",11
9,12000,250,S14W56,10486,X8.3,NaN,360,2598,PHTX,True,False,"(2003-11-02, 17:30:00)","(2003-11-02, 17:30:00)","(2003-11-03, 01:00:00)",10
10,14000,25,N14W61,10720,X7.1,NaN,360,882,PHTX,True,False,"(2005-01-20, 07:15:00)","(2005-01-20, 06:54:00)","(2005-01-20, 16:30:00)",12
11,16000,4000,N17W69,11263,X6.9,NaN,360,1610,PHTX,True,False,"(2011-08-09, 08:20:00)","(2011-08-09, 08:12:00)","(2011-08-09, 08:35:00)",13
12,10000,50,S12E67,10808,X6.2,NaN,360,2257,PHTX,True,False,"(2005-09-09, 19:45:00)","(2005-09-09, 19:48:00)","(2005-09-09, 22:00:00)",15
13,16000,30,S05E64,10930,X6.5,NaN,NaN,NaN,PHTX,False,False,"(2006-12-06, 19:00:00)","(NaN, NaN)","(2006-12-08, 00:00:00)",14
14,16000,30,N17E27,11429,X5.4,NaN,360,2684,PHTX,True,False,"(2012-03-07, 01:00:00)","(2012-03-07, 00:24:00)","(2012-03-08, 19:00:00)",19
15,14000,230,S21E31,9415,X5.6,NaN,360,1270,PHTX,True,False,"(2001-04-06, 19:35:00)","(2001-04-06, 19:30:00)","(2001-04-07, 01:50:00)",18
16,14000,80,N22W07,9077,X5.7,NaN,360,1674,PHTX,True,False,"(2000-07-14, 10:30:00)","(2000-07-14, 10:54:00)","(2000-07-15, 14:30:00)",17
17,8000,170,S17E34,9591,X5.3,NaN,360,1433,PHTX,True,False,"(2001-08-25, 16:50:00)","(2001-08-25, 16:50:00)","(2001-08-25, 23:00:00)",22
18,14000,7000,N18W38,9236,X4.0,NaN,360,980,PHTX,True,False,"(2000-11-26, 17:00:00)","(2000-11-26, 17:06:00)","(2000-11-26, 17:15:00)",26
19,11000,400,S13E72,10039,X4.8,NaN,360,2285,PHTX,True,False,"(2002-07-23, 00:50:00)","(2002-07-23, 00:42:00)","(2002-07-23, 04:00:00)",25
20,14000,100,S12E82,11990,X4.9,NaN,360,2147,PHTX,True,False,"(2014-02-25, 00:56:00)","(2014-02-25, 01:25:00)","(2014-02-25, 11:28:00)",23
21,16000,240,N08E77,11748,X3.2,NaN,360,2625,PHTX,True,False,"(2013-05-14, 01:16:00)","(2013-05-14, 01:25:00)","(2013-05-14, 08:20:00)",39
22,12000,150,S06W23,10930,X3.4,NaN,360,1774,PHTX,True,False,"(2006-12-13, 02:45:00)","(2006-12-13, 02:54:00)","(2006-12-13, 10:40:00)",34
23,10000,2000,S13E90,10039,X3.3,NaN,360,1941,PHTX,True,False,"(2002-07-20, 21:30:00)","(2002-07-20, 22:06:00)","(2002-07-20, 22:20:00)",37
24,5000,400,S02W81,10069,X3.1,NaN,360,1913,PHTX,True,False,"(2002-08-24, 01:45:00)","(2002-08-24, 01:27:00)","(2002-08-24, 03:25:00)",41
25,1000,200,S07W20,10365,X3.6,NaN,360,1366,PHTX,True,False,"(2003-05-28, 01:00:00)","(2003-05-28, 00:50:00)","(2003-05-29, 00:30:00)",33
26,6000,400,N08W77,10488,X3.9,293,103,1420,PHTX,False,False,"(2003-11-03, 10:00:00)","(2003-11-03, 10:06:00)","(2003-11-03, 12:30:00)",27
27,14000,350,S26E90,9756,X3.4,NaN,360,2216,PHTX,True,False,"(2001-12-28, 20:35:00)","(2001-12-28, 20:30:00)","(2001-12-29, 03:00:00)",35
28,6100,1500,N15W25,10720,X3.8,NaN,360,2547,PHTX,True,False,"(2005-01-17, 10:00:00)","(2005-01-17, 09:54:00)","(2005-01-17, 10:35:00)",29
29,14000,30,N15W25,10720,X2.0,NaN,360,2094,PHTX,True,False,"(2005-01-17, 09:25:00)","(2005-01-17, 09:30:00)","(2005-01-17, 16:00:00)",29
30,3000,1500,N10W83,10488,X2.7,304,65,827,PHTX,False,False,"(2003-11-03, 01:15:00)","(2003-11-03, 01:59:00)","(2003-11-03, 01:25:00)",27
31,14000,500,N15E79,12339,X2.7,NaN,360,715,PHTX,True,False,"(2015-05-05, 22:24:00)","(2015-05-05, 22:24:00)","(2015-05-05, 23:14:00)",46
32,3000,40,N15W05,10720,X2.6,NaN,360,2861,PHTX,True,False,"(2005-01-15, 23:00:00)","(2005-01-15, 23:06:00)","(2005-01-17, 00:00:00)",49
33,16000,300,N11E85,11748,X2.8,NaN,360,1850,PHTX,True,False,"(2013-05-13, 16:15:00)","(2013-05-13, 16:07:00)","(2013-05-13, 19:10:00)",43
34,7000,30,S16E23,9632,X2.6,NaN,360,2402,PHTX,True,False,"(2001-09-24, 10:45:00)","(2001-09-24, 10:30:00)","(2001-09-25, 20:00:00)",50
35,14000,5000,S11W65,8210,X2.7,309,190,1099,PHTX,False,False,"(1998-05-06, 08:25:00)","(1998-05-06, 08:29:00)","(1998-05-06, 08:35:00)",48

Plotting the relation between the start frequency in the top 50 data extracted from Nasa

In [1]:
Plot_Time = []
for i in New_df2.Start_DateTime:
    Plot_Time.append(i[1])
    
figure(figsize = (40, 10))
y_pos = np.arange(len(Plot_Time))
plt.bar(y_pos, New_df2.Start_Freq , align='center', alpha=1)
plt.xticks(y_pos, Plot_Time)
plt.ylabel('Start Frequency')
plt.title('Plotting Start Frequency ')

plt.show()

NameError: name 'New_df2' is not defined